@keyframes strip1 {
0% { transform: translate3d(0, 120%, 0); }
54% { transform: translate3d(0, -22%, 0); }
80% { transform: translate3d(0, 6%, 0); }
100% { transform: translate3d(0, 0, 0); }
}
@keyframes strip2 {
0% { transform: translate3d(0, 120%, 0); }
54% { transform: translate3d(0, -22%, 0); }
80% { transform: translate3d(0, 6%, 0); }
100% { transform: translate3d(0, 0, 0); }
}
@keyframes strip3 {
0% { transform: translate3d(0, 120%, 0); }
54% { transform: translate3d(0, -22%, 0); }
80% { transform: translate3d(0, 6%, 0); }
100% { transform: translate3d(0, 0, 0); }
}
@keyframes strip4 {
0% { transform: translate3d(0, 120%, 0); }
54% { transform: translate3d(0, -22%, 0); }
80% { transform: translate3d(0, 6%, 0); }
100% { transform: translate3d(0, 0, 0); }
}
@keyframes strip5 {
0% { transform: translate3d(0, 120%, 0); }
54% { transform: translate3d(0, -22%, 0); }
80% { transform: translate3d(0, 6%, 0); }
100% { transform: translate3d(0, 0, 0); }
} 

